<div id="context-menu" class="dropdown clearfix animated fast fadeIn">
    <ul class="dropdown-menu dropdown-right-click" role="menu" aria-labelledby="dropdownMenu" ng-show="temps.length">

        <li ng-show="singleSelection() && singleSelection().isFolder()">
            <a href="" tabindex="-1" ng-click="smartClick(singleSelection())">
                <i class="glyphicon glyphicon-folder-open"></i> {{'open' | translate}}
            </a>
        </li>

        <li ng-show="singleSelection() && singleSelection().isFolder() && temps[0].model.sharableFolder && !temps[0].model.sharedFolder">
            <a href="" tabindex="-1" ng-click="modal('sharefolder') && getUsers()">
                <i class="glyphicon glyphicon-share"></i> {{'share' | translate}}
            </a>
        </li>

        <li ng-show="config.allowedActions.download && !selectionHas('dir') && singleSelection() && temps[0].model.shareright==='rw'">
            <a href="" tabindex="-1" ng-click="modal('linkshare') && clearLink()">
                <i class="glyphicon glyphicon-share"></i> {{'generate_sharable_link' | translate}}
            </a>
        </li>


    </ul>
</div>